.top-info {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 10px;
}

.top-info h3 {
  margin-bottom: 3px;
}

.btn-div button {
  width: 93px;
  border: none;
  padding: 8px;
  border-radius: 7px;
  height: 30px;
  background-color: var(--main_background_color_2);
  color: var(--main_text_color);
  text-align: justify;
}

.btn-div {
  display: flex;
  align-items: center;
}

.btn-div button:hover {
  box-shadow: 1px 1px 2px aliceblue;
}

.btn-div button:active {
  background-color: var(--main_background_color_2_active);
}
