.main_header {
  background-color: var(--main_background_color_2);
  box-shadow: 1px 2px 2px rgba(212, 212, 212, 0.144);
}

.logo_and_menu {
  height: 50px;
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.logo h2 {
  font-family: "Bangers";
  text-shadow: var(--main_text_shadow);
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.menu select {
  background-color: var(--main_background_color_2);
  height: 60%;
  border: none;
  outline: none;
  color: var(--main_text_color);
}

.menu select:hover {
  border-bottom: thick double var(--main_background_color);
}
